<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <div th:fragment="navBar">
        <!--maybe navBar from bootstrap documentation-->
        <nav class="navbar py-3 navbar-expand-lg navbar-dark bg-dark fixed-left">
            <div class="container-fluid">   <!--ca sa ocupe toata lungimea-->
                <a class="navbar-brand" href="#">Music Central</a>
                <!--pentru buton extindere bara navigare pentur ecrane mici-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <!--elemente din lista barii de navigare-->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="band">Bands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="song">Songs</a>
                        </li>
                        <!--item cu dropdown-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Manage Data
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" href="addBand">Add Band</a></li>     <!--atentie la nume-->
                                <li><a class="dropdown-item" href="addSong">Add Song</a></li>
                            </ul>
                        </li>
                    </ul>

                    <span class="navbar-text">
                Check out your favorite Music
            </span>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>