<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add a song</title>
    <!--adaugare css bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>

<!--bara de navigare-->
<div th:insert="fragments/navBar :: navBar"></div>

<h1>

    Placeholder
</h1>

<!--adaugare javascript bootstrap-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}">
</script>

</body>
</html>