<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add a song</title>
    <!--adaugare css bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-image: url('../img/bg.png');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin:auto;
    padding:0;">
<header>
    <!--bara de navigare-->
    <div th:insert="fragments/navBar :: navBar"></div>
</header>
<main>
    <section class="container p-3">
        <div class="card">
            <div class="card-body bg-light">
                <div class="card-header">
                    Add or edit songs in the database
                </div>
                <div>
                    <form th:action="@{/submitSong}" th:object="${song}" method="post">
                        <input
                                class="d-none"
                                th:field="${song.id}"
                        />
                        <label for="title" class="form-label">Title:</label>
                        <input
                                type="text"
                                th:field="${song.title}"
                                id="title"
                                placeholder="Name of the song"
                                class="form-control"
                        />
                        <label for="album" class="form-label">Album:</label>
                        <input
                                type="text"
                                th:field="${song.album}"
                                id="album"
                                placeholder="Album the song is from"
                                class="form-control"
                        />
                        <label for="band" class="form-label">Band:</label>
                        <select class="form-select" th:field="${song.band.id}" id="band">
                            <option th:each="band : ${bandList}"
                                    th:value="${band.id}"
                                    th:text="${band.name}">
                            </option>
                        </select>
                        <div class="row">
                            <div class="col">
                                <label for="length" class="form-label">Length (seconds):</label>
                                <input
                                        type="text"
                                        th:field="${song.lengthInSeconds}"
                                        id="length"
                                        placeholder="Length of the song expressed in seconds"
                                        class="form-control"
                                />
                            </div>
                            <div class="col">
                                <label for="year" class="form-label">Year:</label>
                                <input
                                        type="text"
                                        th:field="${song.releaseYear}"
                                        id="year"
                                        placeholder="Song release year"
                                        class="form-control"
                                />
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary bg-dark">Submit</button>   <!--tip submit!!-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <!--TO DO footer-->
</footer>
<!--adaugare javascript bootstrap-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}">
</script>

</body>
</html>