<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Music Central</title>
    <!--adaugare css bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>

<body style="background-image: url('../img/bg.png');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin:auto;
    padding:0;">

<header>
    <!--bara de navigare-->
    <div th:insert="fragments/navBar :: navBar"></div>
</header>

<main>
    <section class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body bg-light">
                        <div class="card-header">
                            Bands
                        </div>
                        <img src="../img/index_img_1.png" class="img-fluid" alt="...">
                        <div>
                            <p class="mt-2 mb-2">
                                Music Central lets you take a look at your favorite bands and relevant info.
                            </p>
                            <a class="btn btn-primary bg-dark" href="/band">Take a look</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body bg-light">
                        <div class="card-header">
                            Songs
                        </div>
                        <img src="../img/index_img_2.png" class="img-fluid" alt="...">
                        <div>
                            <p class="mt-2 mb-2">
                                Music Central also lets you browse through the songs you love.
                            </p>
                            <a class="btn btn-primary bg-dark" href="/song">Take a look</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--adaugare javascript bootstrap-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}">
</script>

</body>
</html>