<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Music Central</title>
    <!--adaugare css bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>

<body style="background-image: url('../img/bg.png');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin:auto;
    padding:0;">

<header>
    <!--bara de navigare-->
    <div th:insert="fragments/navBar :: navBar"></div>
</header>

<main>
    <section class="container p-3">
        <div class="card">
            <div class="card-body bg-light">
                <div class="card-header">
                    Placeholder
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et aliquet leo, sit amet scelerisque metus. Quisque tristique dolor sed ornare efficitur. Mauris congue nulla in posuere rhoncus. Nulla facilisi. Nunc urna lectus, pellentesque et pellentesque in, pellentesque vitae dui. Integer porttitor neque a nisl dapibus pellentesque. Pellentesque tempus erat et lorem pellentesque dictum. Donec vel maximus mauris, nec accumsan lorem. Mauris non venenatis risus, eget venenatis dui. Aenean nec nunc convallis, feugiat dui in, iaculis augue. Nullam ac suscipit nisl. Pellentesque sed magna id mi molestie consequat. Etiam nisi nisi, congue nec leo condimentum, molestie vulputate ligula.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<!--adaugare javascript bootstrap-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}">
</script>

</body>
</html>