<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
</head>

<body>
<h1>Songs</h1>
<p>The songs section of the site</p>

<table> <!table>

    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

    <thead>     <!--table header-->
    <tr>    <!--table row-->
        <td>Title</td>   <!--table column-->
        <td>Album</td>
        <td>Length (s)</td>
        <td>Release year</td>
    </tr>
    </thead>    <!--end table header-->
    <tbody>
    <tr th:each="song : ${songList}">
        <td th:text="${song.title}"/>
        <td th:text="${song.album}"/>
        <td th:text="${song.lengthInSeconds}"/>
        <td th:text="${song.releaseYear}"/>
    </tr>
    </tbody>
</table>

</body>
</html>