<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
    <!--adaugare css bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>

<body>

<div th:insert="fragments/navBar :: navBar"></div>

<table class="table table-hover table-bordered">
    <thead>     <!--table header-->
    <tr>    <!--table row-->
        <td>Title</td>   <!--table column-->
        <td>Album</td>
        <td>Length</td>
        <td>Release year</td>
    </tr>
    </thead>    <!--end table header-->
    <tbody>
    <tr th:each="song : ${songList}">
        <td th:text="${song.title}"/>
        <td th:text="${song.album}"/>
        <!--if-else pentru afisare corecta a secundelor-->
        <div th:if="${song.lengthInSeconds % 60 < 10}">
            <td th:text="${song.lengthInSeconds/60} + ':0' + ${song.lengthInSeconds % 60}"/>
        </div>
        <div th:if="${song.lengthInSeconds % 60 >= 10}">
            <td th:text="${song.lengthInSeconds/60} + ':' + ${song.lengthInSeconds % 60}"/>
        </div>
        <!--end if-->
        <td th:text="${song.releaseYear}"/>
    </tr>
    </tbody>
</table>


<!--adaugare javascript bootstrap-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}">
</script>

</body>
</html>